# Environment variables
.env

# Composer dependencies
/vendor/

# Temporary files
/tmp/
*.tmp
*.swp
*.swo

# Logs
/logs/
*.log

# User uploaded content (daca este cazul)
/uploads/

# Fișiere de configurare locale
*.local.php

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
.DS_Store
Thumbs.db 